.threats-side-component {
    min-width: 200px;
    background-color: var(--gray-200);
    max-width: 23%;
    /* border-right: 1px solid var(--color-blue); */
    > div {
        padding: 5px;
    }
    > div.header {
        background-color: var(--gray-300);
        /* text-decoration: underline;
        text-decoration-color:  lightcoral;
        text-decoration-thickness: 2px;
        text-decoration-style:wavy; */
    }
    > div.history {
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
        background-color: var(--gray-200);
        >button {
            background-color: var(--gray-600);
            flex-grow: 1;
            font-weight: 600;
        }
        >button:hover, >button:active, >button:focus {
            background-color: lightcoral;
            outline: 0;
            cursor: pointer;
        }
        
    }
    > div.options {
        display: flex;
        justify-content: space-around;
        gap: 3px;
        > span {
            color: lightcoral;
            padding: 3px;
        }

    }
    > div.footer {
        position: fixed;
        bottom: 0;
    }
}

.playground-component {
    >div.header {
        color: lightcoral;
        padding: 5px;
    }
    >div.chat-input {
        height: 50px;
        padding: 5px;

        /* background-color: var(--gray-300); */
    }
    >div.chat-messages {
        padding: 5px;
        >div.message-bubble {
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        >div.user-message {
            background-color: rgba(240, 128, 128, 0.409);
        }
        >div.bot-message {
            background-color: var(--gray-300);
        }
    }
}