.container {
    min-height: 100vh;
    position: relative;
}
.flex-center {
    align-items: center;
    justify-content: center;
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.font-wow-white {
    font-family: var(--font-wow);
    text-shadow: 0 0 10px var(--color-gray), 0 0 20px black, 0 0 30px black, 0 0 50px white;
}
.button-block {
    display: block;
    padding: 14px;
    position: relative;
    z-index: 4;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-readable);
    border-left: 0;
    border-right: 0;
    /* box-shadow: 0px 0px 10px white; */
}
.button-block::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border: 1px solid var(--color-blue);
    border-bottom: 0;
    border-left: 0;
    z-index: 2;
    mix-blend-mode: overlay;
    cursor: pointer;
}

.button-block:hover::after {
    background: linear-gradient(0, #20c991, #20a7c9);
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    transition: all 500ms ease-in-out;
}
.button-block::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 1px solid var(--color-green-aqua);
    border-top: 0;
    border-right: 0;
    mix-blend-mode: saturation;
    cursor: pointer;
}

.button-block:hover::before {
    background: linear-gradient(0, #20c991, #20a7c9);
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 500ms ease-in-out;
    border: 0;
}
.button-block:active {
    box-shadow: 0px 0px 10px var(--color-green-aqua);
}
.full-vh {
    height: 100vh !important;
}
.w-full {
    width: 100%;
}
.flex-full {
    display: flex;
}
.flex-full > * {
    flex-grow: 1;
}
.button-gray-coral {
    background-color: var(--gray-600);
    flex-grow: 1;
    font-weight: 600;
}
.button-gray-coral:hover, .button-gray-coral:active, .button-gray-coral:focus {
    background-color: lightcoral;
    outline: 0;
    cursor: pointer;
}
.h-full {
    height: 100%;
}